<%=  link_to('Back to Homepage', {controller: 'main', action: 'index'}) %><br>

<div>
  <h2>Users</h2>

  <%= link_to('Add a new User', new_user_path) %>

  <table>
    <tr>
      <th>E-mail</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Actions</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.e_mail %></td>
      <td><%= user.name %></td>
      <td><%= user.surname %></td>
      <td><%= user.start_date %></td>
      <td><%= user.end_date %></td>
      <td>
        <% link_to('Show', user_path(user.id)) %>
        <% link_to('Edit', edit_user_path(user.id)) %>
      </td>
    </tr>
    <% end %>
  </table>

</div>