<div>
  <h2>Timesheets</h2>

  <%= link_to('Add a new Timesheet', new_timesheet_path) %>

  <table>
    <tr>
      <th>User</th>
      <th>Project</th>
      <th>Start</th>
      <th>End</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>
    <% @timesheets.each do |timesheet| %>
      <tr>
        <td><%= timesheet.user_id %></td>
        <td><%= timesheet.project_id %></td>
        <td><%= timesheet.start %></td>
        <td><%= timesheet.end %></td>
        <td><%= timesheet.notes %></td>
        <td>
          <%= link_to('Show', timesheet_path(timesheet.id)) %>
          <%= link_to('Edit', edit_timesheet_path(timesheet.id)) %>
          <%= link_to('Delete', delete_timesheet_path(timesheet.id)) %>
        </td>
      </tr>
    <% end %>
  </table>

</div>