<!DOCTYPE html>
<html>
  <head>
    <title>TimeTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <header>
    Time Tracker
    <% if session[:user_id].present? %>
        <span>
          User: <%= @username %> | <%= button_to('Logout', logout_path, {method: :delete}) %>
        </span>
    <% end %>
  </header>

  <body>
    <div id="content">
      <%= render(partial: 'layouts/flash_notice') %>
      <%= yield %>
    </div>
  </body>

  <footer>
    Copyright <%= Time.now.year %>
  </footer>
</html>
